h1 {
    background-color: darkslategrey;
    text-align: center;
    padding: 14px 16px;
    color: white;
}

div>p {
    color: white;
    text-align: left;
    width: 50%;
}

h2 {
    color: white;
    text-align: left;
}

body {
    background-color: darkslategray;
}

div {
    text-align: left;
}

div>form {
    
    float: left;
}

img {
    float: right;
    width: auto;
    height: auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.button_color {
    background-color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: goldenrod;
  }